<div class="categories-container">
    <p class="title">Категории</p>
  <div class="row rows d-flex ">
    <div *ngFor="let category of categories" class="col-lg-3 col-sm-4 col-6">
    <div  class="wrap-categories text-center h-[400px] w-100 mt-5 d-flex flex-column ">
      <img src="assets/icon/politr.svg" class="mx-auto mb-[23px]">
      <p class="mb-[12px]">{{category.description}}</p>
      <ul>
        <li>Иллюстраторы</li>
        <li>Графические дизайнеры</li>
        <li>Аниматоры</li>
        <li>Видеомонтажеры</li>
      </ul>
      <p>(100)</p>
    </div>
    </div>
    <div class="d-flex justify-content-around">
        <button class="btn-categorias w-100 h-[4.75rem]" style="font-size: 150%">Смотреть все</button>
    </div>
</div>


<div class="resume-container">
    <p class="title-categories mt-[200px]">Поделитесь своим <br> онлайн резюме</p>
    <button class="btn-resume w-[24rem] h-[4.75rem]">Отправить</button>
</div>




