<div class="categories-container pt-[100px]">
    <p class="title">Категории</p>
    <div class="wrap-general">
        <div class="wrap-categories text-center pt-[74px] pb-[36px] px-[31px]">
            <img src="assets/icon/politr.svg" class="mx-auto mb-[23px]">
            <p class="mb-[12px]">Дизайн и креатив</p>
            <ul>
                <li>Иллюстраторы</li>
                <li>Графические дизайнеры</li>
                <li>Аниматоры</li>
                <li>Видеомонтажеры</li>
            </ul>
            <p>(100)</p>
        </div>


        <div class="wrap-categories text-center pt-[65px] pb-[36px] px-[14px]">
            <img src="assets/icon/disain.svg" class="mx-auto mb-[19px]" >
            <p class="mb-[12px]"> Дизайн и разработка</p>
            <ul>
                <li>Веб-разработчики</li>
                <li>Дизайнеры</li>
                <li>Верстальщики</li>
                <li>UX/UI специалисты</li>
            </ul>
            <p>(100)</p>
        </div>


        <div class="wrap-categories text-center pt-[65px] pb-[36px] px-[12px]">
            <img src="assets/icon/marketing.svg" class="mx-auto mb-[17px]">
            <p class="mb-[12px]">Маркетинг и реклама</p>
            <ul>
                <li>Маркетологи</li>
                <li>SEO-специалисты</li>
                <li>Специалисты по контекстной рекламе</li>
                <li></li>
            </ul>
            <p>(100)</p>
        </div>


        <div class="wrap-categories text-center pt-[50px] pb-[36px] px-[31px]">
            <img src="assets/icon/sud.svg" class="mx-auto  mb-[17px]">
            <p class="mb-[12px]"> Административные услуги</p>
            <ul>
                <li>Виртуальные ассистенты</li>
                <li>Секретари</li>
                <li>Персональные помощники</li>
                <li></li>
            </ul>
            <p>(100)</p>
        </div>


        <div class="wrap-categories text-center pt-[50px] pb-[36px] px-[31px]">
            <img src="assets/icon/stroit.svg" class="mx-auto mb-[14px]">
            <p class="mb-[18px]" >Программирование</p>
            <ul>
                <li>Программисты различных языков программирования</li>
                <li>Системные администраторы</li>
                <li>Специалисты по информационной безопасности</li>
            </ul>
            <p>(100)</p>
        </div>


        <div class="wrap-categories text-center pt-[50px] pb-[36px] px-[31px]">
            <img src="assets/icon/iconoir_brain-research.svg" class="mx-auto mb-[13px]">
            <p class="mb-[7px]" >Финансы и бухгалтерия</p>
            <ul>
                <li>Бухгалтеры</li>
                <li>Финансовые аналитики</li>
                <li>Налоговые консультанты</li>
            </ul>
            <p>(100)</p>
        </div>


        <div class="wrap-categories text-center  pt-[50px] pb-[36px] px-[31px]">
            <img src="assets/icon/kopiraiting.svg" class="mx-auto mb-[15px]">
            <p class="mb-[18px]">Образование и консалтинг</p>
            <ul>
                <li>Учителя</li>
                <li>Тренеры</li>
                <li>Бизнес-консультанты</li>
            </ul>
            <p>(100)</p>
        </div>

        <div class="wrap-categories text-center  pt-[50px] pb-[36px] px-[31px]">
            <img src="assets/icon/kopir.svg" class="mx-auto mb-[15px]">
            <p class="mb-[18px]"  >Копирайтинг</p>
            <ul>
                <li>Копирайтеры</li>
                <li>Редакторы</li>
                <li>Переводчики</li>
                <!-- <li></li> -->
            </ul>
            <p>(100)</p>
        </div>


        <div class="wrap-categories text-center pt-[74px] pb-[36px] px-[31px]">
            <img src="assets/icon/politr.svg" class="mx-auto mb-[23px]">
            <p class="mb-[12px]" >Креативные услуги</p>
            <ul>
                <li>Фотографы</li>
                <li>Художники</li>
                <li>Модельеры </li>
                <!-- <li></li> -->
            </ul>
            <p>(100)</p>
        </div>


        <div class="wrap-categories text-center pt-[74px] pb-[36px] px-[31px]">
            <img src="assets/icon/politr.svg" class="mx-auto mb-[23px]">
            <p class="mb-[12px]"  >Инженерные услуги</p>
            <ul>
                <li>Инженеры</li>
                <li>Архитекторы</li>
                <li> CAD-специалисты</li>
                <!-- <li></li> -->
            </ul>
            <p>(100)</p>
        </div>


        <div class="wrap-categories text-center pt-[74px] pb-[36px] px-[31px]">
            <img src="assets/icon/politr.svg" class="mx-auto mb-[23px]">
            <p class="mb-[12px]"  >Правовые услуги</p>
            <ul>
                <li>Юристы</li>
                <li>Юридические консультанты</li>
            </ul>
            <p>(100)</p>
        </div>

        <div class="wrap-categories text-center pt-[74px] pb-[36px] px-[31px]">
            <img src="assets/icon/politr.svg" class="mx-auto mb-[23px]">
            <p class="mb-[12px]"  >Медицина</p>
            <ul>
                <li>Врачи</li>
                <li>Медсестры</li>
                <li>Психологи</li>
            </ul>
            <p>(100)</p>
        </div>


    </div>
    <div class="text-center">
        <button class="btn-categorias w-[24rem] h-[4.75rem]">Смотреть все</button>
    </div>
</div>


<div class="resume-container">
    <p class="mt-[13.93rem]">какой то текст</p>
    <p class="title-categories">Поделитесь своим <br> онлайн резюме</p>
    <button class="btn-resume w-[24rem] h-[4.75rem]">Отправить</button>
</div>




