<div class="categories-container">
    <p class="title">Категории</p>
  <div class="row rows d-flex ">
    <div class="col-lg-3 col-sm-4 col-6">
    <div  class="wrap-categories text-center h-[400px] w-100 mt-5 pt-3 d-flex flex-column ">
      <img src="assets/img/design.png" width="150px" height="150px" class="mx-auto mb-[23px]">
      <p class="mb-[12px]">Дизайн и креатив</p>
      <ul>
        <li>Графический дизайн</li>
        <li>Интерфейс и пользовательский опыт (UI/UX)</li>
        <li>Интерьерный дизайн</li>
        <li>Видеомонтажеры</li>
      </ul>
      <p>(100)</p>
    </div>
    </div>
    <div class="col-lg-3 col-sm-4 col-6">
      <div  class="wrap-categories text-center h-[400px] w-100 mt-5 pt-3 d-flex flex-column ">
        <img src="assets/img/dev.png" class="mx-auto mb-[23px]" width="150px" height="150px">
        <p class="mb-[12px]">Разработка</p>
        <ul>
          <li>Веб-разработка</li>
          <li>Мобильная разработка</li>
          <li>Разработка игр</li>
          <li>Разработка ПО</li>
        </ul>
        <p>(100)</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4 col-6">
      <div  class="wrap-categories text-center h-[400px] w-100 mt-5 pt-3 d-flex flex-column ">
        <img src="assets/img/marketing.png" class="mx-auto mb-[23px]" width="150px" height="150px">
        <p class="mb-[12px]">Маркетинг и реклама</p>
        <ul>
          <li>Цифровой маркетинг</li>
          <li>Аналитика и управление данными</li>
          <li>Контент-маркетинг:</li>
        </ul>
        <p>(100)</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4 col-6">
      <div  class="wrap-categories text-center h-[400px] w-100 mt-5 pt-3 d-flex flex-column ">
        <img src="assets/img/proecting.png" class="mx-auto mb-[23px]" width="150px" height="150px">
        <p class="mb-[12px]">Проектирование</p>
        <ul>
          <li>Архитектурное проектирование</li>
          <li>Инженерное проектирование</li>
          <li>Инфраструктурное проектирование</li>
        </ul>
        <p>(100)</p>
      </div>
    </div>
    <div class="d-flex justify-content-around">
        <button class="btn-categorias w-100 h-[4.75rem]" style="font-size: 150%">Смотреть все</button>
    </div>
</div>


<div class="resume-container">
    <p class="title-categories mt-[200px]">Поделитесь своим <br> онлайн резюме</p>
    <button class="btn-resume w-[24rem] h-[4.75rem]">Отправить</button>
</div>




