.title-job{

    color: #FFF;
    font-size: 41px;
    font-weight: 900;
    text-align: center;
    margin-top: -18.12rem;
}

.job-container{
    display: flex;
    justify-content: flex-start;
}

.filter-h2{
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.filter-wrap{
    flex-shrink: 0;
    border: 1px solid #D9D9D9;
    background: #FFF;
    display: grid;
    justify-content: center;
}

.categor-wrap{
    display: flex;
    align-items: center;
    gap: 23px;
    height: 43px;
    border: 1px solid #D1D1D1;
    background: rgba(217, 217, 217, 0.00);
}

.filter-title{
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.categor-option{
    color: #5C5C5C;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    outline: none;
}

.wrap-checkbox{
    display: flex;
    gap: 8px;
}

.wpap-chec{
    width: 25px;
    height: 25px;
}

.label-t{
    color: #000;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}


.sort-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.sort-job{
    display: flex;
    gap: 19px;
    align-items: center;
}

.silect-sort{
    width: 140px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: rgba(217, 217, 217, 0.00);
    outline: none;
}

.img-vacans{
    width: 117px;
    height: 114px;
    border: 1px solid #060043;
    background: rgba(217, 217, 217, 0.00);
}

.btn-vacans{
    width: 171px;
    height: 39px;
    border-radius: 56px;
    border: 1px solid #060043;
    background: rgba(217, 217, 217, 0.00);
    color: #060043;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.otklik{
  display: grid;
  margin: 21px -136px;
}

.time-vacans{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding-left: 32px;
}

.vacancies-container{
    display: flex;
  gap: 23px;
}

.vacans-wrap{
    display: grid;
}

.vacans-info{
    display: flex;
}

.vacans-title{
    color: #000;
    font-size: 30px;
    font-weight: 400;
}

.vacans-text{
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.money{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.80);
    font-weight: 400;
}

.str-wrap{
    display: flex;
    gap: 15px;
}

.str-vacans{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
    text-align: center;
    padding: 13px;
}

.active-str{
    background-color: #060043;;
    color: #FFF;
}


/* Стили для устройств меньше 576px (xs) */
@media (max-width: 576px) {
  .sort-wrap{
    gap: 0px;
    display: flex;
    margin-top: 260px;
    margin-bottom: 20px;
  }

  .job-container{
    gap: 30px;
    margin-left: 16px;
    display: grid;
  }

  .filter-h2{
    margin-right: 0;
    margin-left: 0px;
    font-size: 15px;

  }
  .filter-title{
    margin-right: 0px;
    font-size: 13px;
  }

  .img-vacans{
    width: 110px;
  }

  .otklik{
    margin-top: 24px;
    margin-left: 10px;
  }

  .vacancies-container{
    display: grid;
  }
}

/* Стили для устройств от 576px до 767px (sm) */
@media (min-width: 576px) and (max-width: 768px) {
  .sort-wrap{
    gap: 0px;
  }

  .job-container{
    gap: 30px;
    margin-left: 16px;
  }

  .filter-h2{
    margin-right: 0;
    margin-left: 35px;
  }
  .filter-title{
    margin-right: 0px;
  }

  .vacans-info{
    gap: 26px;
  }

  .img-vacans{
    width: 110px;
  }

  .otklik{
    margin-top: 24px;
    margin-left: 10px;
  }

  .vacancies-container{
    display: grid;
  }
}

/* Стили для устройств от 768px до 991px (md) */
@media (min-width: 768px) and (max-width: 992px) {
  .sort-wrap{
    gap: 0px;
  }

  .job-container{
    gap: 47px;
    margin-left: 33px;
  }

  .filter-h2{
    margin-right: 40px;
  }
  .filter-title{
    margin-right: 99px;
  }

  .vacans-info{
    gap: 26px;
  }

  .img-vacans{
    width: 110px;
  }

  .otklik{
    margin-top: 24px;
    margin-left: 10px;
  }

  .vacancies-container{
    display: grid;
  }

}

/* Стили для устройств от 992px до 1199px (lg) */
@media (min-width: 992px) and (max-width: 1200px) {
  .sort-wrap{
    gap: 0px;
  }

  .job-container{
    gap: 47px;
    margin-left: 75px;
  }

  .filter-h2{
    margin-right: 40px;
  }
  .filter-title{
    margin-right: 99px;
  }

  .vacans-info{
    gap: 56px;
  }

  .otklik{
    margin-top: 50px;
  }
}

/* Стили для устройств 1200px и больше (xl) */
@media (min-width: 1200px) {
  .sort-wrap{
    gap: 143px;
  }

  .job-container{
    gap: 47px;
    margin-left: 75px;
  }

  .otklik{
    margin-top: 50px;
  }
}
