<app-header background="/assets/img/about.png" backgroundGradient="linear-gradient(rgba(0,0,0,0.42), rgba(0,0,0,0.42))"   height="600px" repeatMode="no-repeat" backgroundSize="cover">
  <div class="title-job h-[300px]">Получите работу</div>
</app-header>

<div class="my-[5%] mx-[10%] row">
  <div class="mt-[10px] col-lg-3 col-md-4 col-12">
    <div class="filter-wrap pb-5">
      <h3 class="filter-title mt-[50px] mb-[20px]">Категория</h3>
      <div class="categor-wrap p-0">
        <select name="" class="categor-option">
          <option value="" >Все категории</option>
          <option *ngFor="let category of categories" value={{category.description}}>
            {{category.description}}
          </option>
        </select>
      </div>
      <h3 class="filter-title mt-[50px] mb-[20px]">Локация</h3>
      <div class="categor-wrap ">
        <select name="" class="categor-option" style="padding-right: 80px;">
          <option value="">Алматы</option>
        </select>
      </div>
      <button class="btn-vacans mt-5">Применить</button>
    </div>
  </div>




  <div class="vacans-wrap col-lg-8 col-md-8 col-12">
    <div *ngFor="let item of data" class="row justify-content-between px-5 ml-3 bg-light border-1" style="height: max-content">
      <div class="col-lg-8 col-md-9 col-12 py-5">
        <a href="/offer/{{item.id}}" style="color: dodgerblue; font-size: 120%">{{item.content_work}}</a>
        <p style="font-size: 180%; font-weight: bold; margin-bottom: 10px">до {{item.price}}₸</p>
        <p class="pl-[6px]">{{item.company}}</p>
        <div class="d-flex mb-[20px]"><img src="/assets/icon/mdi_location.svg" alt="" class="w-[24px] h-[24px]"><p>{{item.location}}</p></div>
        <button class="btn-vacans mb-[12px]" routerLink="/offer/{{item.id}}">Откликнуться</button>
        <p >7 часов назад</p>
      </div>
      <img class="col-lg-4 col-md-3 col-12 pt-5 job-img h-[180px] w-[180px]" width="180px" height="180px" src="http://185.146.1.93:8000{{item.image}}" alt="">
    </div>
  </div>

</div>
<app-footer ></app-footer>
<router-outlet></router-outlet>
