<div class="instruction">
    <h2 class="instruction-title pt-[7.68rem] pb-[5.12rem]">Как это происходит</h2>
    <div class="container-instruction px-3">
        <div class="wrap-instruction d-flex flex-column justify-content-between px-2 align-items-center py-5 gap-5">
          <img src="assets/img/search.png" class="h-[150px] w-[150px]">
            <h1>1. Выберите вакансию по своей профессии</h1>
        </div>

      <div class="wrap-instruction d-flex flex-column justify-content-between px-2 align-items-center py-5 gap-5">
          <img src="assets/img/apply.png" class="h-[150px] w-[130px]">
          <h1>2. Подайте заявление на рассмотрение заказчика</h1>
        </div>

      <div class="wrap-instruction d-flex flex-column justify-content-between px-2 align-items-center py-5 gap-5">
        <img src="assets/img/jpg.png" class="h-[150px] w-[150px]">
        <h1>3. Приступайте к работе и зарабатывайте</h1>
      </div>
    </div>
</div>
