<section class="section pb-[144px] ">
    <div class="flex justify-between pt-[34px] nav">
        <div class="logo">лого</div>
        <div class="">
            <button class="btn-nav w-[133px] h-[34px] rounded-[28px] bg-[#060043] text-[#FFF]">Регистрация</button>
            <button class="btn-nav w-[125px] h-[34px] rounded-[28px] bg-[white] text-black ml-[14px]">Войти</button>
        </div>
    </div>

    <div class="zagalovok">
        Зарабатывайте на том,что умеете
    </div>
</section>
<section class="mt-[71px] mb-[81px]  ">
    <div class="block ">
        <h2 class="registr-title">Зарегистрируйтесь по номеру телефона</h2>
        <div class="flex gap-[21px] justify-center mt-[38px]">
            <div class="mob-div">Мобильный телефон</div>
            <div class="reg-div">Зарегистрироваться</div>
        </div>
        <div class="check-div mt-[24px] ml-[53px]">
            <input type="checkbox" id="robotCheckbox">
            <label for="robotCheckbox" class="custom-checkbox-label">Я не робот</label>
        </div>
    </div>  
</section>

<section>
    <div class="mb-[42px]">
        <h2 class="section-h2">Как это работает?</h2>
    </div>

    <div class="flex gap-[30px] justify-between" style="margin: 0 73px;">
        <div class="">
            <div class="flex gap-[15px]">
                <div class="num">1</div>
                <div class="lin-desc"></div>
            </div>
            <div class="desc-text">Клиенты создают заказы — <br>описывают деталии <br> предлагают цену</div>
        </div>

        <div class="">
            <div class="flex gap-[15px]">
                <div class="num">2</div>
                <div class="lin-desc"></div>
            </div>
            <div class="desc-text">Вы выбираете интересные <br> заказы</div>
        </div>

        <div class="">
            <div class="flex gap-[15px]">
                <div class="num">3</div>
                <div class="lin-desc"></div>
            </div>
            <div class="desc-text">Откликаетесь и <br> договариваетесь с клиентами <br> о цене и деталях в чате</div>
        </div>

        <div class="">
            <div class="flex gap-[15px]">
                <div class="num">4</div>
                
            </div>
            <div class="desc-text">Выполняете заказы и <br> получаетеоплату напрямую от <br> клиентов</div>
        </div>
    </div>
</section>

<section class="mt-[114px] mb-[74px]">
    <div class="mb-[30px]">
        <h2 class="section-h2">Тарифы</h2>
    </div>

    <div class="flex justify-center gap-[42px]" style="margin: 0 73px;">
        <div class="oplata-wrap">
            <h2 class="oplata-h2 text-[#060043]">Плата за отклик</h2>
            <p class="oplata-p text-[#060043]">lorem ipsum dolor sit lorem ipsum dolor sit <br>
                lorem ipsum dolor sit lorem ipsum dolor sit
            </p>
        </div>
    
        <div class="oplata-wrap2">
            <h2 class="oplata-h2 text-[#FFF]">Комиссия за заказ</h2>
            <p class="oplata-p text-[#FFF]">lorem ipsum dolor sit lorem ipsum dolor sit <br>
                lorem ipsum dolor sit lorem ipsum dolor sit
            </p>
        </div>
    </div>
</section>