<div class="bg-[#E6E5F3]">
    <app-creating>
        <div class="ml-[42px] flex gap-[150px] mt-[55px]">
            <div class="">
                <div class="nav mt-[15px] mb-[39px] flex items-center gap-[18px]"   >
                    <p>Ваши отклики</p>
                </div>

                <div *ngFor="let i of data.otkliki" class="flex gap-[14px] items-center mb-[23px]">
                    <div class="w-[48px] h-[52px] rounded-[9px] bg-white"></div>
                    <div class="">
                        <h2 class="h2-text">{{i.user.firstName}} {{i.user.lastName}}</h2>
                        <p class="otziv mt-[3px]">Предлагает: {{i.price}} тенге</p>
                        <p class="p-text">{{i.description}}</p>
                        <p class="p-text">Контакты: {{i.user.email}}</p>

                    </div>
                </div>


            </div>


            <div class="">
                <h2 class="nav mb-[8px]">{{data.content_work}}</h2>
                <p class="desc">10 специалистов посмотрели ваш заказ</p>
                <div class="mt-[38px]">
                    <p class="desc2 mb-[4px]">Что сделать?</p>
                    <p class="desc3">{{data.description}}</p>
                    <hr class="hr">
                </div>

                <div class="mt-[38px]">
                    <p class="desc2 mb-[4px]">Какой нужы навыки?</p>
                    <p class="desc3">{{data.skills}}</p>
                    <hr class="hr">
                </div>

                <div class="mt-[38px]">
                    <p class="desc2 mb-[4px]">Требуемый опыт</p>
                    <p class="desc3">{{data.experience}}</p>
                    <hr class="hr">
                </div>

                <div class="mt-[38px]">
                    <p class="desc2 mb-[4px]">Название компании</p>
                    <p class="desc3">{{data.company}}</p>
                    <hr class="hr">
                </div>

                <div class="mt-[38px]">
                    <p class="desc2 mb-[4px]">Удобные дни и время</p>
                    <p class="desc3">Договорюсь со специалистом</p>
                    <hr class="hr">
                </div>

                <div class="mt-[38px]">
                    <p class="desc2 mb-[4px]">Сколько вы готовы заплатить за работу?</p>
                    <p class="desc3">{{data.price}} тенге</p>
                    <hr class="hr">
                </div>


                <button class="bg-[#060043] text-white rounded-[47px] px-[24px] py-[12px] mt-[48px] mb-[60px ]" (click)="open(content)">Отменить заказ</button>

            </div>

          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">

              <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            <div class="modal-body d-grid">
              <h4 class="modal-title" id="modal-basic-title"> Вы уверены что хотите отменить заказ</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">нет</button>
              <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">да</button>
            </div>
          </ng-template>
        </div>
    </app-creating>
</div>
