<div class="bg-[#E6E5F3]">
    <app-creating>
        <div class="ml-[42px] flex gap-[150px] mt-[55px]">
            <div class="">
                <div class="nav mb-[27px]">Заказ</div>
                <hr class="nav-border">
                <div class="nav  mt-[15px] mb-[27px]">Поддержка</div>
                <hr class="nav-border">
                <div class="nav mt-[15px] mb-[27px]">Специалисты</div>
                <hr class="nav-border">
                <div class="nav mt-[15px] mb-[39px] flex items-center gap-[18px]"   >
                    <p>Получать отклики</p>
                    <div class="w-[33px] h-[19px] rounded-[30px] bg-white">
                        <div class="w-[15px] h-[17px] rounded-[30px] bg-[#060043]">
                        </div>
                    </div>
                </div>

                <div class="flex gap-[14px] items-center mb-[23px]">
                    <div class="w-[48px] h-[52px] rounded-[9px] bg-white"></div>
                    <div class="">
                        <h2 class="h2-text">Азамат Азаматов</h2>
                        <p class="otziv mt-[3px]">5 отзывов</p>
                        <p class="p-text">сообщение</p>
                    </div>
                </div>

                <div class="flex gap-[14px] items-center mb-[23px]">
                    <div class="w-[48px] h-[52px] rounded-[9px] bg-white"></div>
                    <div class="">
                        <h2 class="h2-text">Азамат Азаматов</h2>
                        <p class="otziv mt-[3px]">5 отзывов</p>
                        <p class="p-text">сообщение</p>
                    </div>
                </div>

                <div class="flex gap-[14px] items-center mb-[23px]">
                    <div class="w-[48px] h-[52px] rounded-[9px] bg-white"></div>
                    <div class="">
                        <h2 class="h2-text">Азамат Азаматов</h2>
                        <p class="otziv mt-[3px]">5 отзывов</p>
                        <p class="p-text">сообщение</p>
                    </div>
                </div>

                <div class="flex gap-[14px] items-center mb-[23px]">
                    <div class="w-[48px] h-[52px] rounded-[9px] bg-white"></div>
                    <div class="">
                        <h2 class="h2-text">Азамат Азаматов</h2>
                        <p class="otziv mt-[3px]">5 отзывов</p>
                        <p class="p-text">сообщение</p>
                    </div>
                </div>

                <div class="flex gap-[14px] items-center mb-[23px]">
                    <div class="w-[48px] h-[52px] rounded-[9px] bg-white"></div>
                    <div class="">
                        <h2 class="h2-text">Азамат Азаматов</h2>
                        <p class="otziv mt-[3px]">5 отзывов</p>
                        <p class="p-text">сообщение</p>
                    </div>
                </div>

                <div class="flex gap-[14px] items-center">
                    <div class="w-[48px] h-[52px] rounded-[9px] bg-white"></div>
                    <div class="">
                        <h2 class="h2-text">Азамат Азаматов</h2>
                        <p class="otziv mt-[3px]">5 отзывов</p>
                        <p class="p-text">сообщение</p>
                    </div>
                </div>
            </div>


            <div class="">
                <h2 class="nav mb-[8px]">Веб-дизайн</h2>
                <p class="desc">10 специалистов посмотрели ваш заказ</p>
                <div class="mt-[38px]">
                    <p class="desc2 mb-[4px]">Что сделать?</p>
                    <p class="desc3">Дизайн сайта</p>
                    <hr class="hr">
                </div>

                <div class="mt-[38px]">
                    <p class="desc2 mb-[4px]">Какой сайт?</p>
                    <p class="desc3">Лендинг</p>
                    <hr class="hr">
                </div>

                <div class="mt-[38px]">
                    <p class="desc2 mb-[4px]">Платформа/p>
                    <p class="desc3">Tilda</p>
                    <hr class="hr">
                </div>

                <div class="mt-[38px]">
                    <p class="desc2 mb-[4px]">Опишите детали проекта</p>
                    <p class="desc3">Не указано</p>
                    <hr class="hr">
                </div>

                <div class="mt-[38px]">
                    <p class="desc2 mb-[4px]">Удобные дни и время</p>
                    <p class="desc3">Договорюсь со специалистом</p>
                    <hr class="hr">
                </div>

                <div class="mt-[38px]">
                    <p class="desc2 mb-[4px]">Сколько вы готовы заплатить за работу?</p>
                    <p class="desc3">Не важно</p>
                    <hr class="hr">
                </div>


                <button class="bg-[#060043] text-white rounded-[47px] px-[24px] py-[12px] mt-[48px] mb-[60px    ]">Отменить заказ</button>

            </div>

          
        </div>
    </app-creating>
</div>
