.header-bag{
    position: relative;
    background-image: url('/assets/img/fon.jpg') ;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/* .header-bag::after{
   position: absolute;
   content: '';
   background-color: rgba(6, 0, 67, 0.58);
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 1;
} */