.title-info{
    margin: 0 auto;
    display: grid;
    justify-content: center;
    text-align: center;
}

.img-info{
    width: 173px;
    height: 173px;
    background-color: #D9D9D9;
    border-radius: 69%;
    margin: 0 auto;
}

.info-svg{
    margin: 0 auto;
}

.name-info{
    font-size: 26px;
    font-weight: 500;
}

.name-job{
    color: rgba(0, 0, 0, 0.83);
    font-size: 17px;
    font-weight: 400;
}

.general-desc{
    display: flex;
    justify-content: center;
    gap: 249px;
    margin: 0 auto;
}

.discrip{
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.73);
}

.h2-desc{
    font-size: 22px;
    font-weight: 400;
}

.p-desc{
    font-size: 32px;
    font-weight: 700;
}

.p-desc2{
    font-size: 22px;
    font-weight: 600;
}

.p-desc3{
    color: rgba(0, 0, 0, 0.84);
    font-size: 22px;
    font-weight: 300;
}

.desc-btn{
    width: 241px;
    height: 82px;
    border-radius: 10px;
    border: 1px solid #1E157D;
    background: rgba(217, 217, 217, 0.00);
}

.general-img{
    position: relative;
}

.img-desc{
    width: 500px;
    height: 600px;
    background-color: #D9D9D9;

}

.desc-icon{
    width: 135px;
    height: 135px;
    border-radius: 8px;
    background-color: #1E157D;
    position: absolute;
    content: '';
    top: 75%;
    left: 1%;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    padding: 27px;
}

.h2-title{
    font-size: 39px;
    text-align: center;
    font-weight: 800;
}


.wrap-desc1{
    background-color: #D9D9D9;
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
}

.wrap-desc2{
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #FFF;
}

.wrap-text{
    color: rgba(0, 0, 0, 0.84);
    font-size: 22px;
    font-weight: 600;
    line-height: 135%;
    letter-spacing: 0.22px;
    text-align:left ;
    margin: 55px 57px 34px 21px;
}

.wrap-text2{
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 135%;
    letter-spacing: 0.22px;
}

.wpap-img{
    position: absolute;
    content: '';
    left: 0;
    width: 100px;
    background-color: #060043;
}


.str{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #D9D9D9;
    cursor: pointer;
}

.str:active{
    background-color: #060043;
}

/* Стили для устройств меньше 576px (xs) */
@media (max-width: 576px) {
  .general-desc{
    gap: 30px;
    display: grid;
  }

  .desc-icon{
    top: 79%;
    left: 60%;
  }

  .img-desc{
    width: 350px;
  }
}

/* Стили для устройств от 576px до 767px (sm) */
@media (min-width: 576px) and (max-width: 768px) {
  .general-desc{
    gap: 30px;
    display: grid;
  }

  .desc-icon{
    top: 79%;
    left: 66%;
  }

  .img-desc{
    width: 400px;
    margin: 0 13%;
  }

  .cont{
    gap: 33px;
    margin-left: 58px;
  }

}

/* Стили для устройств от 768px до 991px (md) */
@media (min-width: 768px) and (max-width: 992px) {
  .general-desc{
    gap: 30px;
  }

  .desc-icon{
    top: 46%;
    left: -7%;
  }

  .img-desc{
    width: 380px;
  }

  .cont{
    gap: 33px;
    margin-left: 58px;
  }

  .wrap-desc{
    width: 330px;
    margin-right: 9%
  }

  .footer-container{

  }
}

/* Стили для устройств от 992px до 1199px (lg) */
@media (min-width: 992px) and (max-width: 1200px) {
  .general-desc{
    gap: 30px;
  }
}

/* Стили для устройств 1200px и больше (xl) */
@media (min-width: 1200px) {
  /* Ваши стили для очень больших экранов здесь */
}
