
<div class="title-info pt-[124px]">
    <img src="" alt="" class="img-info" >
    <h2 class="mt-[21px] name-info">Азамат Азаматов</h2>
    <p class="mt-[11px] name-job">Креативный директор</p>
    <p class="mt-[43px] discrip">lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit <br>
        lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem <br>
        ipsum dolor sit lorem ipsum dolor sit
    </p>
    <div class="mt-[34px] flex justify-center gap-[10px]">
        <div class="str"></div>
        <div class="str"></div>
        <div class="str"></div>
    </div>
</div>

<div class="general-desc pt-[144px] pb-[171px]">
    <div class="descr">
        <h2 class="h2-desc">Чем мы занимаемся?</h2>
        <p class="p-desc mt-[27px]">24 000 квалифицированных <br> специалистов получили работу</p>
        <p class="p-desc2 mt-[43px]">
            Lorem ipsum dolor  sit amet consectetur <br> adipisicing elit. Odio rem quas ratione labore <br> eligendi consequuntur praesentium, sed nulla <br> soluta
        </p>
        <p class="p-desc3 mt-[43px]">
            Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Odio rem quas ratione labore <br> eligendi consequuntur praesentium, sed nulla <br> soluta ex voluptates necessitatibus asperiores <br> adipisci voluptate, repellat aut et tenetur vel.
        </p>

        <button class="desc-btn mt-[83px]"></button>
    </div>

    <div class="general-img">
        <img src="" alt="" class="img-desc">
        <div class="desc-icon">С 2023</div>
    </div>
</div>

<div class="">
    <h2 class="h2-title">Последние новости</h2>
    <div class="flex justify-center gap-[58px] mt-[61px] mb-[125px] cont" >
        <div class="wrap-desc">
            <div class="wrap-desc1">
                <div class="wpap-img"></div>
            </div>
            <div class="wrap-desc2">
                <p class="wrap-text">Lorem ipsum dolor sit amet <br> consectetur adipisicing </p>
                <p class="wrap-text2">Читать ></p>
            </div>
        </div>

        <div class="wrap-desc">
            <div class="wrap-desc1">
                <div class="wpap-img"></div>
            </div>
            <div class="wrap-desc2">
                <p class="wrap-text">Lorem ipsum dolor sit amet <br> consectetur adipisicing </p>
                <p class="wrap-text2">Читать ></p>
            </div>
        </div>
    </div>
</div>
