
<div class="title-info pt-[124px]">
    <img src="" alt="" class="img-info" >
    <h2 class="mt-[21px] name-info">Бекхан Шукиров</h2>
    <p class="mt-[11px] name-job">Оснаватель проекта</p>
    <p class="mt-[43px] discrip">lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit <br>
        lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem <br>
        ipsum dolor sit lorem ipsum dolor sit
    </p>
    <div class="mt-[34px] flex justify-center gap-[10px]">
        <div class="str"></div>
        <div class="str"></div>
        <div class="str"></div>
    </div>
</div>

<div class="general-desc pt-[144px] pb-[171px]">
    <div class="descr px-5">
        <h2 class="h2-desc">Чем мы занимаемся?</h2>
        <p class="p-desc mt-[27px]">24 000 квалифицированных <br> специалистов получили работу</p>
        <p class="p-desc2 mt-[43px]">
            Lorem ipsum dolor  sit amet consectetur <br> adipisicing elit. Odio rem quas ratione labore <br> eligendi consequuntur praesentium, sed nulla <br> soluta
        </p>
        <p class="p-desc3 mt-[43px]">
            Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Odio rem quas ratione labore <br> eligendi consequuntur praesentium, sed nulla <br> soluta ex voluptates necessitatibus asperiores <br> adipisci voluptate, repellat aut et tenetur vel.
        </p>
    </div>

    <div class="general-img px-5">
        <img src="" alt="" class="img-desc">
        <div class="desc-icon">С 2023</div>
    </div>
</div>

<div class="">
    <h2 class="h2-title col-lg-12 col-md-12 col-12">Последние новости</h2>
    <div class="row px-5 my-5">
        <div class="wrap-desc col-lg-6 col-md-6 col-12 my-5">
            <div class="wrap-desc1">
               <img src="" class="h-[350px] w-[100%]">
            </div>
            <div class="wrap-desc2">
                <p class="wrap-text">Lorem ipsum dolor sit amet <br> consectetur adipisicing </p>
                <p class="wrap-text">Читать ></p>
            </div>
        </div>

      <div class="wrap-desc col-lg-6 col-md-6 col-12 my-5">
        <div class="wrap-desc1">
          <img src="" class="h-[350px] w-[100%]">
        </div>
        <div class="wrap-desc2">
          <p class="wrap-text">Lorem ipsum dolor sit amet <br> consectetur adipisicing </p>
          <p class="wrap-text">Читать ></p>
        </div>
      </div>

    </div>
</div>
