<app-layuot></app-layuot>
<section class="px-[71px] mt-[96px]">
    <div class="container">
        <div class="wrap mb-[229px] pt-[100px]">
            <input type="text" placeholder="Поиск" class="input">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none" class="svg">
                <path d="M13.3594 14.0625L16.9219 17.8125" stroke="#060043" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.90625 15.3125C12.0215 15.3125 14.5469 12.6542 14.5469 9.375C14.5469 6.09581 12.0215 3.4375 8.90625 3.4375C5.79102 3.4375 3.26562 6.09581 3.26562 9.375C3.26562 12.6542 5.79102 15.3125 8.90625 15.3125Z" stroke="#060043" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>

        <div class="text-center">
            <h2 class="title mb-[38px]">Заказов пока нет</h2>
            <p class="text mb-[58px]">Здесь будут ваши отклики и заказы, которые  предложили клиенты</p>
            <button class="btn">Найти заказ</button>
        </div>
    </div>
</section>