body{
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav{
    display: flex;
    gap:50px;
    color: white;

}

.nav-reg{
    display: flex;
    gap: 10px;
    color: white;

}

.link{
    color: #FFF;
    font-size: 17.585px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 28px;
    padding: 5px 10px ;
    background-color: rgba(-63, 0, 0, 0.40);
    width: max-content;
    height: 41px;
    text-align: center;
}

.pnav{
    font-size: 17.585px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 28px;
    padding: 5px 10px ;
    height: 41px;
    text-align: center;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}

.close-icon {
  display: none;

}

/*.close-icon {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  cursor: pointer;*/
/*  z-index: 1;*/
/*}*/

/*.close-icon .line {*/
/*  width: 25px;*/
/*  height: 3px;*/
/*  background-color: white;*/
/*  margin: 4px 0;*/
/*}*/

.nav.active {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  background: #333;
  top: 70px;
  left: 0;
  padding: 20px 0;
}

.nav.active .link {
  margin: 10px 0;
}


@media (max-width: 576px) {
  header{
    padding: 0 40px;

  }

}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
  }

  .close-icon{
    display: flex;
    color: white;
    z-index: 2;
  }

  .nav {
    display: none;
  }

  .nav.active {
    display: flex;
  }

  .nav-reg{
    display: none;
  }

  .nav.active {
    width: 100%;
    height: 100%;
    background: #333;
    top: 5px;
    left: 0;
    padding: 10px 0;
    z-index: 1;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  header{
    padding: 0px;
  }
  .container-header{
    gap: 0!important;
    margin: 0 8px;
  }

  .nav-reg{
    gap: 8px;
  }

  .link{
    font-size: 14px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .nav{
    gap: 8px;
  }

  header{
    padding: 0 70px;
  }
  .nav-reg{
    gap: 10px;
  }

  .container-header{
    gap: 0!important;
  }
}

@media (min-width: 1200px) {
  .container-header{
    gap: 63px;
  }

  .nav{
    gap: 16px;
  }
}


