header{
    padding: 0 100px;
}

.container-header{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    gap: 200px;
}

.logo{
    color:white ;
    font-size: 32px;
    font-weight: 700;
}

.nav{
    display: flex;
    gap: 39px;
    color: white;

}

.nav-reg{
    display: flex;
    gap: 30px;
    color: white;

}

.link{
    color: #FFF;
    font-size: 17.585px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 28px;
    padding: 5px 10px ;
    background-color: rgba(-63, 0, 0, 0.40);
     width: auto;
    height: 41px;
    text-align: center;
}

.pnav{
    font-size: 17.585px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 28px;
    padding: 5px 10px ;
    height: 41px;
    text-align: center;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}

.nav.active {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  background: #333;
  top: 70px;
  left: 0;
  padding: 20px 0;
}

.nav.active .link {
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav {
    display: none;
  }

  .nav.active {
    display: flex;
  }

  .nav-reg{
    display: none;
  }

  .nav.active {
    width: 100%;
    background: #333;
    top: 5px;
    left: 0;
    padding: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  header{
    padding: 0px;
  }
  .container-header{
    gap: 0!important;
    margin: 0 15px;
  }

  .nav{
    gap: 9px;
  }

  .nav-reg{
    gap: 8px;
  }

  .link{
    font-size: 14px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .nav{
    gap: 8px;
  }

  .container-header{
    gap: 0!important;
  }
}


