<div class="header-bag">
  <div class="mb-[12.5rem]">
    <p class="title">Найдите наиболее  <br>подходящую работу </p>
    <div class="long-input">
     <div class="input-container">
        <input type="text" placeholder="Услуга или специалист" class="w-[45rem] h-[3rem] py-3.5 pl-6 input-bacg">
        <input type="text" placeholder="Город" class="w-[27rem] h-[3rem] py-3.5 pl-6 input-bacg">
     </div>
      <button class="ml-6 w-[85px] h-[51px] px-[22px] py-[6px] bg-white rounded-[0.62rem]">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
          <path d="M28.125 28.125L35.625 35.625" stroke="#060043" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M18.75 30.625C25.3084 30.625 30.625 25.3084 30.625 18.75C30.625 12.1916 25.3084 6.875 18.75 6.875C12.1916 6.875 6.875 12.1916 6.875 18.75C6.875 25.3084 12.1916 30.625 18.75 30.625Z" stroke="#060043" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>
</div>