<div class="">
    <div class="nav">
        <div class="logo">
            лого
        </div>

        <div class="vxod">Вход и регистрация (заказчик)</div>
    </div>

    <div class="forma">
        <div class="lin"></div>
        <div class="wrap">
            <input type="text" placeholder="8 702 207 55 99" class="nomer">
            <p class="status">Специалисты не видят ваш номер. Вы сами решите, кому он будет доступен</p>
            <button class="btn">Продолжить</button>
        </div>
    </div>
</div>

<div class="mb-[100px]">
    <div class="forma">
        <div class="sms">Введите код из СМС </div>
        <div class="lin">Код отправили на номер +7 702-207-55-99 <br>
            Изменить номер  </div>
        <div class="wrap">
            <input type="text" placeholder="8 702 207 55 99" class="nomer">
            <p class="status">Специалисты не видят ваш номер. Вы сами решите, кому он будет доступен</p>
            <button class="btn">Продолжить</button>
        </div>
    </div>
</div>