<app-layuot></app-layuot>
<section>
    <div class="wrap">
        <div class="oplata">
            <h2 class="title">200 тг</h2>
            <button class="btn">Пополнить баланс</button>
        </div>

        <div class="instr">
            <h2 class="title-instr">За что вы платите</h2>
            <p class="p-instr">Вы оплачиваете отклики или комиссию. За отклики платите сразу, когда предлагаете свои услуги клиенту. Клиент выбирает из нескольких предложений, поэтому не каждый отклик приводит к заказу. Комиссию платите, только если получите заказ.</p>
            <button class="btn-instr">Подробнее</button>
        </div>
    </div>
</section>