<div class="mt-[7.31rem] text-center">
    <p class="job-title mb-[1.18rem]">Недавние вакансии</p>
    <p class="job-p">Популярные вакансии</p>
</div>
<div *ngFor="let item of data" class="job-container">
    <div class="job-wrap mt-[90px]">
        <img src="" alt="" class="job-img">
        <div class="wrap-wrap">
            <p class="wrap-text">{{item.content_work}}</p>
            <p class="wrap-p pt-[19px]">{{item.company}}</p>
        </div>
        <div class="geo pt-[60px]">
            <img src="/assets/icon/mdi_location.svg" alt="" class="w-[24px] h-[24px]">
            <p>{{item.location}}</p>
        </div>
        <div class="valuable ml-[5.93rem] mr-[8.68rem] pt-[60px]">{{item.price}}₸</div>
        <div class="text-center">
            <button class="job-btn"><a [routerLink]="['/offer', item.id]">Подробнее</a></button>
            <p class="pt-[19px]">7 дней назад</p>
        </div>
    </div>
</div>
