.bag-img{
    position: relative;
    background-image: url('/assets/img/about.png') ;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(6, 0, 67, 0.39);
}



header{
    display: flex;
    justify-content: space-between;
    gap: 125px;
}

.container-header{
    display: flex;
    padding: 40px 0;
    gap: 200px;
    margin-left: 34%;
    
}

.nav{
    display: flex;
    gap: 39px;

}

.nav-reg{
    display: flex;
    gap: 30px;
   
}