.container{
    border-radius: 31px;
    background: rgba(6, 0, 67, 0.27);
    height: 900px;
}

.wrap{
    display: flex;
    justify-content: center;
    position: relative;
}

.input{
    width: 80%;
    height: 44px;
    margin-top: 28px;
    border-radius: 15px;
    background: #FFF;
    outline: none;

}

input[type=text]::placeholder{
    width: 74px;
    height: 21px;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.20);
    font-size: 18px;
    font-weight: 600;
    padding-left: 44px;
}

.svg{
    position: absolute;
    top: 140px;
    left: 168px;
   
}

.title{
    color: #060043;
    font-size: 22px;
    font-weight: 600;
}

.text{
    color: #060043;
    font-size: 16px;
    font-weight: 600;
}

.btn{
    width: 160px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 45px;
    background: #060043;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}