header{
    padding: 0 100px;
}

.container-header{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    gap: 200px; 
    
}

.logo{
    color:white ;
    font-size: 32px;
    font-weight: 700;
}

.nav{
    display: flex;
    gap: 39px;
    color: white;

}

.nav-reg{
    display: flex;
    gap: 30px;
    color: white;

}

.link{
    color: #FFF;
    font-size: 17.585px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 28px;
    padding: 5px 10px ;
    background-color: rgba(-63, 0, 0, 0.40);
    width: 127px;
    height: 41px;
    text-align: center;
}

.pnav{
    color: #FFF;
    font-size: 17.585px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 28px;
    padding: 5px 10px ;
    background-color: rgba(-63, 0, 0, 0.40);
    height: 41px;
    text-align: center;
}

/* 
.title{
    color:#1b1a1a;
    font-size: 39px;
    font-weight: 900;
    margin-top: 156px;
    margin-left: 86px;
}

.long-input{
    margin-top: 96px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.input-bacg{
    background-color:rgba(255, 255, 255, 0.62);
} */


