<div class="mt-[7.31rem] text-center">
    <p class="job-title mb-[1.18rem]">Недавние вакансии</p>
    <p class="job-p">Популярные вакансии</p>
</div>
<div class="job-container">
    <div class="job-wrap mt-[90px]">
        <img src="" alt="" class="job-img">
        <div class="wrap-wrap">
            <p class="wrap-text">Digital-маркетолог</p>
            <p class="wrap-p pt-[19px]">Креативное агенство</p>
        </div>
        <div class="geo pt-[60px]">
            <img src="/assets/icon/mdi_location.svg" alt="" class="w-[24px] h-[24px]">
            <p>Алматы</p>
        </div>
        <div class="valuable ml-[5.93rem] mr-[8.68rem] pt-[60px]">$3500-$4000</div>
        <div class="text-center">
            <button class="job-btn">Подробнее</button>
            <p class="pt-[19px]">7 дней назад</p>
        </div>
    </div>


    <div class="job-wrap mt-[150px]">
        <img src="" alt="" class="job-img">
        <div class="wrap-wrap">
            <p class="wrap-text">Digital-маркетолог</p>
            <p class="wrap-p pt-[19px]">Креативное агенство</p>
        </div>
        <div class="geo pt-[60px]">
            <img src="/assets/icon/mdi_location.svg" alt="" class="w-[24px] h-[24px]">
            <p>Алматы</p>
        </div>
        <div class="valuable ml-[5.93rem] mr-[8.68rem] pt-[60px]">$3500-$4000</div>
        <div class="text-center">
            <button class="job-btn">Подробнее</button>
            <p class="pt-[19px]">7 дней назад</p>
        </div>
    </div>


    <div class="job-wrap mt-[150px]">
        <img src="" alt="" class="job-img">
        <div class="wrap-wrap">
            <p class="wrap-text">Digital-маркетолог</p>
            <p class="wrap-p pt-[19px]">Креативное агенство</p>
        </div>
        <div class="geo pt-[60px]">
            <img src="/assets/icon/mdi_location.svg" alt="" class="w-[24px] h-[24px]">
            <p>Алматы</p>
        </div>
        <div class="valuable ml-[5.93rem] mr-[8.68rem] pt-[60px]">$3500-$4000</div>
        <div class="text-center">
            <button class="job-btn">Подробнее</button>
            <p class="pt-[19px]">7 дней назад</p>
        </div>
    </div>


    <div class="job-wrap mt-[150px] mb-[14.43rem]">
        <img src="" alt="" class="job-img">
        <div class="wrap-wrap">
            <p class="wrap-text">Digital-маркетолог</p>
            <p class="wrap-p pt-[19px]">Креативное агенство</p>
        </div>
        <div class="geo pt-[60px]">
            <img src="/assets/icon/mdi_location.svg" alt="" class="w-[24px] h-[24px]">
            <p>Алматы</p>
        </div>
        <div class="valuable ml-[5.93rem] mr-[8.68rem] pt-[60px]">$3500-$4000</div>
        <div class="text-center">
            <button class="job-btn">Подробнее</button>
            <p class="pt-[19px]">7 дней назад</p>
        </div>
    </div>
</div>