<div class="instruction">
    <h2 class="instruction-title pt-[7.68rem] pb-[5.12rem]">Как это происходит</h2>
    <div class="container-instruction">
        <div class="wrap-instruction">
            <h2 class="instruction-h2">1. Выберите вакансию</h2>
            <p> lorem ipsum dolor sit <br>
                lorem ipsum dolor sit <br>
                lorem ipsum dolor sit <br>
                lorem ipsum dolor sit
            </p>
        </div>

        <div class="wrap-instruction">
            <h2 class="instruction-h2">2. Подайте заявление</h2>
            <p> lorem ipsum dolor sit <br>
                lorem ipsum dolor sit <br>
                lorem ipsum dolor sit <br>
                lorem ipsum dolor sit
            </p>
        </div>

        <div class="wrap-instruction">
            <h2 class="instruction-h2">3. Получите работу</h2>
            <p> lorem ipsum dolor sit <br>
                lorem ipsum dolor sit <br>
                lorem ipsum dolor sit <br>
                lorem ipsum dolor sit
            </p>
        </div>
    </div>
</div>