<app-header background="/assets/img/about.png" backgroundGradient="linear-gradient(rgba(0,0,0,0.42), rgba(0,0,0,0.42))"  height="600px" repeatMode="no-repeat" backgroundSize="cover">
    <div class="title-job">UI/UX Designer</div>
</app-header>


<div class="offer-container mt-[327px] mb-[124px]">
    <div class="offer-wrap">
        <div class="offer-img"></div>
        <div class="offer-h2">Digital-маркетолог</div>
        <div class="offer-desc mb-[70px]">
            <p class="offer-text">Креативное агенство</p>
            <p class="offer-text">Алматы</p>
            <p class="money">$3500-$4000</p>
        </div>
        <div class="offer-info">
            <h2 class="info-h2 mb-[25px]">Содержание работы</h2>
            <div class="info-text mb-[79px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Odio rem <br> quas ratione labore eligendi consequuntur praesentium, 
                sed nulla <br> soluta ex voluptates necessitatibus asperiores adipisci voluptate,<br>
                 repellat aut et tenetur vel.
            </div>


            <h2 class="info-h2 mb-[46px]">Необходимые знания, навыки и способности</h2>
            <div class="info-text mb-[88px]">
                <p>1. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure unde</p>
                <p>2. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure unde</p>
                <p>3. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure unde</p>
                <p>4. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure unde</p>
            </div>


            <h2 class="info-h2">Образование+Опыт</h2>
            <div class="info-text mb-[92px]">
                <p>1. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure unde</p>
                <p>2. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure unde</p>
                <p>3. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure unde</p>
                <p>4. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure unde</p>
            </div>
        </div>
    </div>

    <div class="grid mt-[10px]">
        <div class="info-desck">
            <h2 class="desck-h2 mb-[22px]">Описание работы</h2>
            <div class="desck-wrap">
                <div class="desck-1">
                    <p class="offer-text leading-10">Дата публикации:</p>
                    <p class="offer-text leading-10">Локация:</p>
                    <p class="offer-text leading-10">Вакансия:</p>
                    <p class="offer-text leading-10">Тип занятости:</p>
                    <p class="offer-text leading-10">Зарплата:</p>
                    <p class="offer-text leading-10">Дата подачи заявки:</p>
                </div>
    
                <div class="desck-2">
                    <p class="offer-text leading-10 text-end">12 Авг. 2019</p>
                    <p class="offer-text leading-10 text-end">Алматы</p>
                    <p class="offer-text leading-10 text-end">03</p>
                    <p class="offer-text leading-10 text-end">Полная занятость</p>
                    <p class="offer-text leading-10 text-end">500 000 тг </p>
                    <p class="offer-text leading-10 text-end">12 Сент. 2020</p>
                </div>
            </div>
            <button class="decck-btn mt-[30px]" (click)="openModal()">Откликнуться</button>
        </div>


        <div class="about-us -mt-[56px]">
                <h2 class="desck-h2 mb-[22px]">Информация о компании</h2>
                <p class="about-p mb-[22px]">Лалала</p>
                <p class="info-text ">Lorem ipsum dolor sit amet  <br>consectetur adipisicing elit. <br>
                     Lorem ipsum dolor sit amet <br> consectetur 
                </p>
        </div>


        <div class="flex gap-[34px] leading-[40px] -mt-[80px]">
            <div class="">
                <p class="about-p">Название:</p>
                <p class="about-p">Web:</p>
                <p class="about-p">Email:</p>
            </div>

            <div class="">
                <p class="about-contacts">Лалала</p>
                <p class="about-contacts">lalala.com</p>
                <p class="about-contacts">lalala@gmail.com</p>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>



  