<div class="container-zakaz pb-[124px]">
    <app-creating>
        <div class="mr-5  my-5 d-flex justify-content-around">
            <div class="">
                <p class="p-text">Юридическая консультация</p>
                <h2 class="title-h2">Как назвать задачу?</h2>
                <p class="p-text mb-[29px]">Название поможет специалистам быстрее понять, что нужно сделать</p>
                <input type="text" placeholder="Юрист-консультант" class="input-search pl-[20px]">

              <div class="mt-[100px]">
                <h2 class="title-h2 mb-[37px]">Название Кампаний</h2>
                <input type="text" class="w-[760px] h-[70px] bg-[#D2D2D2] rounded-[14px] pl-[20px] gen-input">
              </div>

                <!-- дальше все должно быть через ngif начало  -->

                <!-- конец -->

                 <!-- нач -->
                <div class="mt-[100px]">
                    <p class="p-text">Юридическая консультация</p>
                    <h2 class="title-h2 mb-[37px]">Опишите задачу</h2>
                    <input type="text" class="w-[760px] h-[185px] bg-[#D2D2D2] rounded-[14px] pl-[20px] gen-input">
                    <div class="foto">
                        <div class="">Добавить фото или файл</div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                            <path d="M16.9997 7.08325V26.9166M7.08301 16.9999H26.9163" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>


              <div class="mt-[100px]">
                <p class="p-text">Юридическая консультация</p>
                <h2 class="title-h2 mb-[37px]">Категория задачи</h2>
                <input type="text" class="w-[760px] h-[185px] bg-[#D2D2D2] rounded-[14px] pl-[20px] gen-input">
              </div>

              <div class="mt-[100px]">
                <p class="p-text">Юридическая консультация</p>
                <h2 class="title-h2 mb-[37px]">Требуемый Опыт</h2>
                <input type="text" class="w-[760px] h-[70px] bg-[#D2D2D2] rounded-[14px] pl-[20px] gen-input">
              </div>

              <div class="mt-[100px]">
                <p class="p-text">Юридическая консультация</p>
                <h2 class="title-h2 mb-[37px]">Необходимые Навыки</h2>
                <input type="text" class="w-[760px] h-[100px] bg-[#D2D2D2] rounded-[14px] pl-[20px] gen-input">
              </div>
                <!-- кон -->

                <div class="mt-[100px]">
                    <p class="p-text">Юридическая консультация</p>
                    <h2 class="title-h2 mb-[37px]">Ваш адрес</h2>
                    <div class="">
                        <div class="w-[760px] h-[68px] bg-[#D2D2D2] rounded-[11px] py-[20px]
                        px-[20px] mb-[33px]">Алматы</div>
                        <input type="text" class="w-[760px] h-[185px] bg-[#FFF] rounded-[14px]">
                    </div>
                </div>



                <div class="mt-[100px]">
                    <p class="p-text">Юридическая консультация</p>
                    <h2 class="title-h2 mb-[37px]">Сколько готовы заплатить за работу?</h2>
                    <div class="flex gap-[36px]">
                        <div class="rounded-[11px] w-[244px] bg-[#D2D2D2] py-[13px] px-[11px] text-sm font-semibold">от</div>
                        <div class="rounded-[11px] w-[244px] bg-[#D2D2D2] py-[13px] px-[11px] text-sm font-semibold">до</div>
                    </div>
                </div>


                <div class="mt-[100px]">
                    <h2 class="title-h2 mb-[26px]">Остались пожелания к заказу?</h2>
                    <textarea name="" placeholder="Важные детали для специалиста, о которых мы не спросили" id="" cols="30" rows="10" class="w-[760px] h-[185px] bg-[#D2D2D2] rounded-[14px] textarea"></textarea>
                </div>


                <div class="">
                    <button class="font-bold text-sm text-white text-center flex justify-center items-center w-[760px] h-[60px]  bg-[#060043] rounded-[11px]" style="position: relative;">Опубликовать заказ
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none" style="position: absolute;   right:10px">
                            <g clip-path="url(#clip0_291_115)">
                            <path d="M20.39 27.6604L30 18.0004L20.39 8.34045C20.3032 8.22648 20.1929 8.13248 20.0667 8.06483C19.9404 7.99717 19.8011 7.95744 19.6581 7.94832C19.5151 7.9392 19.3719 7.9609 19.238 8.01196C19.1042 8.06301 18.9828 8.14223 18.8823 8.24425C18.7817 8.34627 18.7042 8.46871 18.6551 8.60327C18.6059 8.73784 18.5863 8.88139 18.5975 9.02421C18.6086 9.16703 18.6503 9.30579 18.7198 9.43109C18.7892 9.55638 18.8848 9.66529 19 9.75045L26.19 17.0004H7.06C6.79478 17.0004 6.54043 17.1058 6.35289 17.2933C6.16536 17.4809 6.06 17.7352 6.06 18.0004C6.06 18.2657 6.16536 18.52 6.35289 18.7076C6.54043 18.8951 6.79478 19.0004 7.06 19.0004H26.19L19 26.2504C18.813 26.4388 18.7085 26.6936 18.7094 26.959C18.7104 27.2243 18.8167 27.4785 19.005 27.6654C19.1933 27.8524 19.4482 27.9569 19.7135 27.956C19.9789 27.9551 20.233 27.8488 20.42 27.6604H20.39Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_291_115">
                            <rect width="30" height="30" fill="white" transform="matrix(0 1 -1 0 36 0)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </button>


                </div>




            </div>
        </div>
    </app-creating>
</div>
<app-footer></app-footer>
