<div class="container-zakaz pb-[124px]">
    <app-creating>
        <div class="ml-[42px] flex gap-[150px] mt-[55px]">
            <div class="">
                <div class="nav mb-[27px]">Заказ</div>
                <div class="nav nav-border">Поддержка</div>
                <div class="nav mt-[15px]">Специалисты</div>
            </div>

            <div class="">
                <p class="p-text">Юридическая консультация</p>
                <h2 class="title-h2">Как назвать задачу?</h2>
                <p class="p-text mb-[29px]">Название поможет специалистам быстрее понять, что нужно сделать</p>
                <input type="text" placeholder="Юрист-консультант" class="input-search">
                <div class="flex gap-[24px]">
                    <div class="vacans w-[188px] h-[37px]">консультация</div>
                    <div class="vacans w-[302px] h-[37px]">консультация по жилищным</div>
                </div>

                <!-- дальше все должно быть через ngif начало  -->

                <!-- конец -->

                 <!-- нач -->
                <div class="mt-[20px]">
                    <p class="p-text">Юридическая консультация</p>
                    <h2 class="title-h2 mb-[37px]">Опишите задачу</h2>
                    <input type="text" class="w-[760px] h-[185px] bg-[#D2D2D2] rounded-[14px]">
                    <div class="foto">
                        <div class="">Добавить фото или файл</div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                            <path d="M16.9997 7.08325V26.9166M7.08301 16.9999H26.9163" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
                <!-- кон -->

                <div class="mt-[20px]">
                    <p class="p-text">Юридическая консультация</p>
                    <h2 class="title-h2 mb-[37px]">Где удобно встретиться?</h2>


                    <div class="checkbox-container2 mt-[37px] rounded-[20px]">
                        <input type="checkbox" class="checkbox2" id="1">
                        <label for="1" class="label2">У меня или специалиста</label>
                    </div>

                    <div class="checkbox-container mt-[37px]">
                        <input type="checkbox" class="checkbox2" id="2">
                        <label for="2" class="label2">У специалиста</label>
                    </div>

                    <div class="checkbox-container mt-[37px]">
                        <input type="checkbox" class="checkbox2" id="3">
                        <label for="3" class="label2">У меня</label>
                    </div>

                    <div class="checkbox-container mt-[37px]">
                        <input type="checkbox" class="checkbox2" id="4">
                        <label for="4" class="label2">Дистанционно</label>
                    </div>
                </div>



                <div class="mt-[20px]">
                    <p class="p-text">Юридическая консультация</p>
                    <h2 class="title-h2 mb-[37px]">Ваш адрес</h2>
                    <div class="">
                        <div class="w-[760px] h-[68px] bg-[#D2D2D2] rounded-[11px] py-[20px]
                        px-[20px] mb-[33px]">Алматы</div>
                        <input type="text" class="w-[760px] h-[185px] bg-[#FFF] rounded-[14px]">
                    </div>
                </div>



                <div class="mt-[20px]">
                    <p class="p-text">Юридическая консультация</p>
                    <h2 class="title-h2 mb-[37px]">Сколько готовы заплатить за работу?</h2>
                    <div class="flex gap-[36px]">
                        <div class="rounded-[11px] w-[244px] bg-[#D2D2D2] py-[13px] px-[11px] text-sm font-semibold">от</div>
                        <div class="rounded-[11px] w-[244px] bg-[#D2D2D2] py-[13px] px-[11px] text-sm font-semibold">до</div>
                    </div>
                </div>


                <div class="mt-[20px]">
                    <p class="p-text">Юридическая консультация</p>
                    <h2 class="title-h2 mb-[26px]">Остались пожелания к заказу?</h2>
                    <textarea name="" placeholder="Важные детали для специалиста, о которых мы не спросили" id="" cols="30" rows="10" class="w-[760px] h-[185px] bg-[#D2D2D2] rounded-[14px] textarea"></textarea>
                </div>


                <div class="">
                    <div class="flex items-center gap-[8px]">
                        <h2 class="title-h2">Юрист-консультант</h2>
                        <div class=" w-[40px] h-[40px] rounded-[25px] bg-[#D9D9D9]"></div>
                    </div>
                    <p class="p-text mb-[80px]">Вы получили 5 откликов. Если ни один не подходит, откройте заказ для новых откликов.</p>
                    <div class="w-[760px] h-[185px] rounded-[11px] bg-[#FFF] py-[22px] ">
                        <div class="flex gap-[22px] px-[28px]">
                            <div class="w-[80px] h-[80px] rounded-[40px] bg-[#D9D9D9] text-center name pt-[12px]">А</div>
                            <div class="">
                                <h2 class="title-h2">Азамат</h2>
                                <p class="p-text">на сервисе с 2021 г .</p>
                            </div>
                        </div>
                        <div class="px-[28px]" style="font-size: 18px; font-weight: 600; border-top: 1px solid black; margin-top: 25px; padding-top: 8px; padding-bottom: 20px;">Сменить аккаунт</div>
                    </div>


                    <button class="font-bold text-sm text-white text-center flex justify-center items-center w-[760px] h-[60px]  bg-[#060043] rounded-[11px]" style="position: relative;">Опубликовать заказ
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none" style="position: absolute;   right:10px">
                            <g clip-path="url(#clip0_291_115)">
                            <path d="M20.39 27.6604L30 18.0004L20.39 8.34045C20.3032 8.22648 20.1929 8.13248 20.0667 8.06483C19.9404 7.99717 19.8011 7.95744 19.6581 7.94832C19.5151 7.9392 19.3719 7.9609 19.238 8.01196C19.1042 8.06301 18.9828 8.14223 18.8823 8.24425C18.7817 8.34627 18.7042 8.46871 18.6551 8.60327C18.6059 8.73784 18.5863 8.88139 18.5975 9.02421C18.6086 9.16703 18.6503 9.30579 18.7198 9.43109C18.7892 9.55638 18.8848 9.66529 19 9.75045L26.19 17.0004H7.06C6.79478 17.0004 6.54043 17.1058 6.35289 17.2933C6.16536 17.4809 6.06 17.7352 6.06 18.0004C6.06 18.2657 6.16536 18.52 6.35289 18.7076C6.54043 18.8951 6.79478 19.0004 7.06 19.0004H26.19L19 26.2504C18.813 26.4388 18.7085 26.6936 18.7094 26.959C18.7104 27.2243 18.8167 27.4785 19.005 27.6654C19.1933 27.8524 19.4482 27.9569 19.7135 27.956C19.9789 27.9551 20.233 27.8488 20.42 27.6604H20.39Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_291_115">
                            <rect width="30" height="30" fill="white" transform="matrix(0 1 -1 0 36 0)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </button>


                </div>




            </div>
        </div>

     <!-- дальше все должно быть через ngif -->








      <div class="flex ml-[24%] mt-[132px] gap-[422px]">
            <div class="flex w-[220px] h-[60px] rounded-[20px] bg-[#D2D2D2] items-center py-[16px] px-[17px] gap-[4px] justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                    <g clip-path="url(#clip0_233_88)">
                    <path d="M15.61 8.34004L6 18L15.61 27.66C15.6968 27.774 15.8071 27.868 15.9333 27.9357C16.0596 28.0033 16.1989 28.043 16.3419 28.0522C16.4849 28.0613 16.6281 28.0396 16.762 27.9885C16.8958 27.9375 17.0172 27.8583 17.1177 27.7562C17.2183 27.6542 17.2958 27.5318 17.3449 27.3972C17.3941 27.2627 17.4137 27.1191 17.4025 26.9763C17.3914 26.8335 17.3497 26.6947 17.2802 26.5694C17.2108 26.4441 17.1152 26.3352 17 26.25L9.81 19H28.94C29.2052 19 29.4596 18.8947 29.6471 18.7071C29.8346 18.5196 29.94 18.2653 29.94 18C29.94 17.7348 29.8346 17.4805 29.6471 17.2929C29.4596 17.1054 29.2052 17 28.94 17H9.81L17 9.75004C17.187 9.56174 17.2915 9.30687 17.2906 9.0415C17.2896 8.77614 17.1833 8.52202 16.995 8.33504C16.8067 8.14806 16.5518 8.04354 16.2865 8.04448C16.0211 8.04542 15.767 8.15174 15.58 8.34004H15.61Z" fill="black"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_233_88">
                    <rect width="36" height="36" fill="white" transform="matrix(0 -1 1 0 0 36)"/>
                    </clipPath>
                    </defs>
                </svg>
                <button>Начать заново</button>
            </div>

            <div class="flex w-[220px] h-[60px] rounded-[20px] bg-[#060043] text-white items-center py-[16px] px-[17px] gap-[4px] justify-between">
                <button>Продолжить</button>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                    <g clip-path="url(#clip0_233_91)">
                    <path d="M20.39 27.66L30 18L20.39 8.33996C20.3032 8.22599 20.1929 8.13199 20.0667 8.06434C19.9404 7.99668 19.8011 7.95695 19.6581 7.94783C19.5151 7.93871 19.3719 7.96041 19.238 8.01147C19.1042 8.06252 18.9828 8.14174 18.8823 8.24376C18.7817 8.34578 18.7042 8.46822 18.6551 8.60278C18.6059 8.73735 18.5863 8.8809 18.5975 9.02372C18.6086 9.16654 18.6503 9.3053 18.7198 9.4306C18.7892 9.55589 18.8848 9.66481 19 9.74996L26.19 17H7.06C6.79478 17 6.54043 17.1053 6.35289 17.2929C6.16536 17.4804 6.06 17.7347 6.06 18C6.06 18.2652 6.16536 18.5195 6.35289 18.7071C6.54043 18.8946 6.79478 19 7.06 19H26.19L19 26.25C18.813 26.4383 18.7085 26.6931 18.7094 26.9585C18.7104 27.2239 18.8167 27.478 19.005 27.665C19.1933 27.8519 19.4482 27.9565 19.7135 27.9555C19.9789 27.9546 20.233 27.8483 20.42 27.66H20.39Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_233_91">
                        <rect width="36" height="36" fill="white" transform="matrix(0 1 -1 0 36 0)"/>
                    </clipPath>
                    </defs>
                </svg>
            </div>
      </div>
    </app-creating>
</div>
<app-footer></app-footer>
