.categories-container{
    margin: 0 auto;
}

.wrap-general{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 84px;
    row-gap: 50px;
    margin: 0 10%;
}

.title{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    color: #192440;
    margin-top: 105px;
    margin-bottom: 41px;
}

.wrap-categories{
    border:1px solid #060043E5;
    border-radius: 10px;
    display: block;
    justify-content:center;
    width: 225px;
    /* height: 256px; */
}

.btn-categorias{
    color: #060043E5;
    border:1px solid #060043E5;
    border-radius: 12px;
    margin-top: 84px;
    padding: 0px 95px;
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 70px;
}

.resume-container{
    background-image: url('/assets/icon/Vector\ 1\ \(4\).svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
    width: 100%;
    overflow: hidden;
    transform:translateY(-56px);
    text-align: center;
    color: #ffff;
}


.title-categories{
    font-size: 39px;
    font-weight: 700;
}

.btn-resume{
    color: white;
    border:1px solid white;
    border-radius: 12px;
    margin-top: 84px;
    padding: 0px 95px;
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 70px;
}


  
  



  
   

  
  