<div class="categories-container">
    <p class="title">Категории</p>
    <div class="wrap-general">
        <div class="wrap-categories text-center pt-[74px] pb-[36px] px-[31px]">
            <img src="assets/icon/politr.svg" class="mx-auto mb-[23px]">
            <p class="mb-[12px]">Дизайн и креатив</p>
            <p>(100)</p>
        </div>
    
    
        <div class="wrap-categories text-center pt-[65px] pb-[36px] px-[14px]">
            <img src="assets/icon/disain.svg" class="mx-auto mb-[19px]" >
            <p class="mb-[12px]"> Дизайн и разработка</p>
            <p>(100)</p>
        </div>
    
    
        <div class="wrap-categories text-center pt-[65px] pb-[36px] px-[12px]">
            <img src="assets/icon/marketing.svg" class="mx-auto mb-[17px]">
            <p class="mb-[12px]">Маркетинг и продажи</p>
            <p>(100)</p>
        </div>
    
    
        <div class="wrap-categories text-center pt-[50px] pb-[36px] px-[31px]">
            <img src="assets/icon/sud.svg" class="mx-auto  mb-[17px]">
            <p class="mb-[12px]">Юридические услуги</p>
            <p>(100)</p>
        </div>
    
    
        <div class="wrap-categories text-center pt-[50px] pb-[36px] px-[31px]">
            <img src="assets/icon/stroit.svg" class="mx-auto mb-[14px]">
            <p class="mb-[18px]">Строительство</p>
            <p>(100)</p>
        </div>
    
    
        <div class="wrap-categories text-center pt-[50px] pb-[36px] px-[31px]">
            <img src="assets/icon/iconoir_brain-research.svg" class="mx-auto mb-[13px]">
            <p class="mb-[7px]">Информационные технологии</p>
            <p>(100)</p>
        </div>
    
    
        <div class="wrap-categories text-center  pt-[50px] pb-[36px] px-[31px]">
            <img src="assets/icon/kopiraiting.svg" class="mx-auto mb-[15px]">
            <p class="mb-[18px]">Недвижимость</p>
            <p>(100)</p>
        </div>
    
        <div class="wrap-categories text-center  pt-[50px] pb-[36px] px-[31px]">
            <img src="assets/icon/kopir.svg" class="mx-auto mb-[15px]">
            <p class="mb-[18px]">Копирайтинг</p>
            <p>(100)</p>
        </div>  
    </div>
    <div class="text-center">
        <button class="btn-categorias w-[24rem] h-[4.75rem]">Смотреть все</button>
    </div>
</div>


<div class="resume-container">
    <p class="mt-[13.93rem]">какой то текст</p>
    <p class="title-categories">Поделитесь своим <br> онлайн резюме</p>
    <button class="btn-resume w-[24rem] h-[4.75rem]">Отправить</button>
</div>
  



