<div class="bg-[#E6E5F3]">
    <app-creating>
        <div class="ml-[42px] flex gap-[150px] mt-[55px] pb-[90px]">
            <div class="">
                <div class="nav mb-[27px]">Заказ</div>
                <hr class="nav-border">
                <div class="nav  mt-[15px] mb-[27px]">Поддержка</div>
                <hr class="nav-border">
                <div class="nav mt-[15px] mb-[27px]">Специалисты</div>
                <hr class="nav-border">
                <div class="nav mt-[15px] mb-[39px] flex items-center gap-[18px]">
                    Услуги и цены
                </div>
            </div>

           <div class="">
                <div class="flex gap-[32px] mb-[46px]">
                    <div class="w-[111px] h-[121px] bg-white rounded-[21px]"></div>

                    <div class="">
                        <h2 class="h2-text">Азамат Азаматов</h2>
                        <p class="otziv">5 отзывов</p>
                        <p class="status">был в сети 5 минут назад</p>
                    </div>
                </div>

                <div class="w-[664px] h-[97px] rounded-[14px] bg-white py-[11px] px-[20px] mb-[46px]">
                    <h2 class="title mb-[4px]">Откликнулся</h2>
                    <button class="w-[234px] h-[36px] bg-[#060043] rounded-[6px] text-[#FFF]">Написать сообщение</button>
                </div>


                <div class="desc mb-[34px]">Работает дистанционно</div>

                <div class="">
                    <h2 class="title mb-[8px]">О себе</h2>
                    <p class="desc2 w-[450px] mb-[15px]">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, perferendis odit. Dolores nesciunt quod molestiae, quos vitae doloremque ipsa iure dicta? Natus recusandae doloribus iusto enim labore praesentium facere rerum?
                    </p>
                    <p class="desc2 w-[450px] mb-[15px]">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, perferendis odit. Dolores nesciunt quod molestiae, quos vitae doloremque ipsa iure dicta? Natus recusandae doloribus iusto enim labore praesentium facere rerum?

                    </p>

                    <h2 class="title mb-[8px]">Образование</h2>
                    <p class="desc2 mb-[15px]">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.  
                    </p>

                    <h2 class="title mb-[8px]">Опыт</h2>
                    <p class="desc2 mb-[15px]">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.  
                    </p>

                    <div class="flex gap-[8px] mb-[22px]">
                       <h2 class="title">Фотографии</h2>
                       <p class="number">6</p>
                    </div>

                    <div class="flex gap-[6px] mb-[39px]">
                        <div class="w-[100px] h-[100px] bg-white"></div>
                        <div class="w-[100px] h-[100px] bg-white"></div>
                        <div class="w-[100px] h-[100px] bg-white"></div>
                        <div class="w-[100px] h-[100px] bg-white"></div>
                        <div class="w-[100px] h-[100px] bg-white"></div>
                        <div class="w-[100px] h-[100px] bg-white"></div>
                    </div>


                    <div class="">
                        <h2 class="title mb-[14px]">Услуги и цены</h2>
                        <div class="flex items-center gap-[7px] mb-[10px]">
                            <p class="desc">Веб-дизайн</p>
                            <hr class="hr w-[391px] mt-[5px]">
                            <p class="desc4">по договоренности</p>
                        </div>

                        <div class="flex items-center gap-[7px] mb-[10px]">
                            <p class="desc">Веб-дизайн</p>
                            <hr class="hr w-[391px] mt-[5px]">
                            <p class="desc4">по договоренности</p>
                        </div>

                        <div class="flex items-center gap-[7px] mb-[22px]">
                            <p class="desc">Веб-дизайн</p>
                            <hr class="hr w-[391px] mt-[5px]">
                            <p class="desc4">по договоренности</p>
                        </div>
                    </div>


                    <div class="flex gap-[7px]">
                        <h2 class="title">Отзывы</h2>
                        <p class="number">5</p>
                    </div>

                    <div class="desc mt-[10px]">Отзывов пока нет</div>


                </div>
           </div>
        </div>
    </app-creating>
</div>